body {
	font-size: 75%;
}

html>body {
	font-size: 14pt;
}

a:link { color: rgb(75, 89, 66) }
a:visited { color: #000 }
a:hover { color: rgb(120, 61, 36) }
a:active { color: rgb(120, 61, 36) }

sup {
	vertical-align: super;
	font-size: .7em;
}

em {
	font-style: italic;
}

#left-nav {
	float: left;
}

.head-img {
	padding: 2em 1.8125em 1.875em 2em;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 384px;
	margin-right: 8em;
}

h1 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: rgb(120, 61, 36);
	line-height: 1.333em;
	padding-top: 1.333em;
	margin-bottom: 1.333em;
}

h2 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	color: rgb(120, 61, 36);
	line-height: 1em;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-left: 384px;
	margin-right: 8em;
}

ul {
	font-size: 1em;
	line-height: 2em;
	margin-left: 384px;
	margin-right: 8em;
	margin-bottom: 1.5em;
}

ul.nav {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin-left: 4em;
	font-size: 1em;
	line-height: 2em;
	width: 19em;
}

li {
	//padding-left: 20px;
	font-size: 1em;
	list-style-type: square;
	//background: url(trisk50.jpg) no-repeat 0 3px;
}

.vcard {
	margin-left: 384px;
	margin-right: 8em;
	margin-bottom: 1.5em;
}

.index-quote {
	font-family: "Monotype Corsiva", cursive;
	background: rgb(167, 169, 240) no-repeat .25em 1.333em;
	font-size: 1.5em;
	line-height: 1.333em;
	padding: 1.333em 1.333em;
	margin-left: 500px;
	margin-right: 4em;
	margin-bottom: 1.33m;
}

.quote {
	margin: 1.333em;
	background-color: rgb(167, 169, 240);
	font-size: 1.5em;
	line-height: 1.333em;
	padding: 1.333em 1.333em;
	width: 15em;
}

.attr {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: .6em;
	float: right;
}

.orgs {
	text-align: center;
	margin: 3em 0;

}

.orgs img {
	margin-bottom: 2em;
}

.tel {
	color: rgb(120, 61, 36);
	font-weight: bold;
}

.footer {
	margin: 2em;
}

dl {
	font-size: 1em;
	line-height: 1.5em;
	margin-left: 384px;
	margin-right: 8em;
	margin-bottom: 1.5em;
}

dt {
	font-weight: bold;
	float: left;
}

dd {
	padding-left: 1.5em;	
}

.job {
	margin-bottom: 1.5em;
	margin-left: 384px;
	margin-right: 8em;
}

.title {
	font-weight: bold;
	float: left;
}

.dates {
	font-weight: bold;
	float: right;
}

div.job p {
	margin-left: 0;
	clear: right;
}
